$primary: #011e42;
$secondary: #002654;
$secondary-btn: #3399ff;
$black: #000;
$theme-blue: #3977e3;
$white: #fff;
$off-white: #F2F5F7;
$heading-text: #506A85;
$content-text: #73879C;
$yellow-shade: #eea236;
$gray: #adadad;
$gray-light: #cecdcd;
$gray-lighter: #e9e9e9;
$gray-lightest: #f9f9f9;
$gray-dark: #636060;
$gray-darker: #4a4a4a;
$gray-darkest: #3a3a3a;
$success: #5cb85c;
$danger: #d9534f;
