@font-face {
  font-family: 'harlow';
  src: url('../../src/fonts/harlowsoliditalicitalic-webfont.woff2') format('woff2'),
       url('../../src/fonts/harlowsoliditalicitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
    font-family: 'open_sans_regular';
    src: url('../../src/fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../../src/fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_light';
    src: url('../../src/fonts/OpenSans-Light-webfont.woff2') format('woff2'),
         url('../../src/fonts/OpenSans-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
