.profile-payout-section {
  h5 span.payout {
    font-size: 12px;
  }
  .cardsList {
    margin-bottom: 20px;
    .list-group {
      background: $gray-lightest;
      padding: 5px 15px;
      border: 1px solid $gray-light;
      margin-bottom: 5px;
      .cardNumber {
        font-family: 'open_sans_light';
        .active-status {
          float: right;
          font-family: 'open_sans_regular';
        }
      }
    }
  }
  .lg-primary {
    &:focus{
      background: $secondary-btn !important;
    }
  }
}
